body {
  margin: 0;
  font-family: 'Inter';
}

.nav-container {
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container h1 {
  width: 109px;
  height: 16px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;
  margin-left: 7px;
}

.place-location {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 0;
}

.place-location-country {
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-left: 4px;
  color: #2B283A;
}

.place-location-maps {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  text-decoration-line: underline;
  margin-left: 12px;
  margin-top: 0;

  color: #918E9B;
}

.place-image {
  margin-left: 40px;
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.place-title {
  width: 326px;
  height: 40px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;
  margin-top: 0;
  margin-bottom: 0;
}

.place-container {
  margin-top: 36px;
  display: flex;
  justify-items: center;
}

.place-date {
  margin-top: 0px;
  margin-bottom: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}

.place-text {
  margin-left: 19px;
  margin-top: 0;
  padding-top: 0;
}

.place-description {
  position: absolute;
  width: 450px;
  height: 45px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 326px;
  font-size: 10.24px;
  line-height: 150%;
  margin-top: 0;
  /* or 15px */

  color: #2B283A;

}